.about-me > .container{
display: flex;
flex-direction: column;
gap: 24px;
justify-content: center;
align-items: center;
}
.img-container{

    width: 350px;
    

}
.about-me-article{
    background-color: #ffffff;
    padding: 16px;
}

  .my-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  



@media screen and (min-width: 768px) and (max-width: 1157px) {
    .about-me > .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        }
    .about-me-article{
        width: 450px;
    }
    .img-container{
    width: 250px;
    padding: 0 32px 32px 0;
        background: linear-gradient(
            to bottom right,
            rgba(244,244,253, 1),
            rgba(250,250,250, 1)
          ),
          #fafafa;
    
    }
}
  
  @media screen and (min-width: 1158px) {
    .about-me > .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        
        }
        

        .about-me-article{
            width: 640px;
        }
    .img-container{

        width: 450px;
        padding: 0 32px 32px 32px;
        background: linear-gradient(
            to bottom right,
            rgba(244,244,253, 1),
            rgba(250,250,250, 1)
          ),
          #fafafa;
    
    }
}