



.blog-quote {
  font-style: italic;
  padding: 16px 0;
}

.blog-bold {
  font-weight: bolder;
}

p {
  text-indent: 30px;
}

.date-btn-block {
  margin: 32px 0;
}

.blog-item-btn {
  background-color: transparent;
  border: none;
  font-size: 16px;
}

.blog-item-btn:hover,
.blog-item-btn:focus,
.blog-item-btn:active {
  background-color: transparent;
  cursor: pointer;
}

.article-container .blog-item {
  padding: 36px 36px 16px 36px;
}

.article-container .date-btn-block {
  justify-content: space-around;
}

@media screen and (max-width: 767px){
  .article-container .blog-item {
  padding: 36px 16px 16px 16px;
}

  .blog-section .article-container{
    padding: 0 46px;
  }
}
